<% for(var i=0; i < tasks.length; i++){%>
<tr>
    <td><%= i+1%></td>
    <td><%= tasks[i].taskName%></td>
    <td><%= tasks[i].taskDescription%></td>
    <td><%= tasks[i].taskPriority%></td>
    <td><%= tasks[i].taskStat%></td>
    <td><%= tasks[i].taskTime%></td>
    <td>
        <a href="/edit_task?taskID=<%= tasks[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fa-solid fa-pen"></i></span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fa-solid fa-trash"></i></span>
        </a>
    </td>
</tr>
<%}%>